---
interface Props {
  title: string;
  image: string;
  description: string;
}
const { title, image, description } = Astro.props;
---

<div
  class="relative w-full max-w-sm mx-auto transform transition-all duration-300 hover:scale-105 hover:shadow-lg rounded-xl overflow-hidden bg-primaryC-black shadow-md"
>
  {/* Image Section */}
  <div class="relative w-full h-48 overflow-hidden bg-primaryC-yellow">
    <img
      src={image || "/api/placeholder/400/250"}
      alt={title}
      class="w-full h-full object-cover transition-transform duration-300 hover:scale-110 hover:brightness-90 img__project"
    />

    {/* Hover Overlay */}
    <div
      class="absolute inset-0 flex items-center justify-center bg-primaryC-black bg-opacity-70 transition-opacity duration-300 div_overlap"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="48"
        height="48"
        stroke-width="2"
        class="opacity-80 hover:opacity-100 cursor-pointer text-primaryC-yellow"
      >
        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
        <path
          d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
        ></path>
      </svg>
    </div>
  </div>

  {/* Content Section */}
  <div class="p-4 text-neutralC-white bg-primaryC-black">
    <h3 class="text-xl font-bold mb-2 truncate text-secondaryC-orange">
      {title}
    </h3>
    <p class="text-sm line-clamp-3 text-secondaryC-gray">
      {description}
    </p>
  </div>
</div>

<style>
  .div_overlap {
    opacity: 0;
  }

  .img__project:hover ~ .div_overlap {
    opacity: 1;
  }
</style>
