---

---

<section id="about" class="py-16 bg-primaryC-black text-primaryC-yellow">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold mb-8 text-center">About Us</h2>
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 mb-8 md:mb-0">
        <img
          src="https://images.squarespace-cdn.com/content/v1/51bdd6cfe4b09566e1112c43/1600520811704-KXC1YA4U9OFEI9942B3X/Terapia+integradora+psicolog%C3%ADa?format=500w"
          alt="About Our Company"
          class="rounded-lg shadow-lg"
        />
      </div>
      <div class="md:w-1/2 md:pl-8">
        <p class="text-lg mb-4">
          We are a leading integrator company with years of experience in
          bringing together diverse technologies and systems. Our team of
          experts is dedicated to providing innovative solutions that drive
          efficiency and growth for our clients.
        </p>
        <p class="text-lg">
          With a focus on cutting-edge integration techniques and a commitment
          to excellence, we help businesses streamline their operations and stay
          ahead in today's fast-paced technological landscape.
        </p>
      </div>
    </div>
  </div>
</section>
