---
const services = [
  {
    title: "INTEGRACION",
    description:
      "Especializamos en la integracion de sistemas y tecnologias para mejorar la eficiencia y la productividad de nuestros clientes.",
  },
  {
    title: "CONSULTORIA",
    description:
      "Ofrecemos consultoría para optimizar la eficiencia y productividad de nuestros sistemas y tecnologias.",
  },
  {
    title: "SOPORTE",
    description:
      "Ofrecemos soporte continuo para garantizar que nuestros sistemas funcionen de manera eficiente y productiva.",
  },
];
---

<section
  id="services"
  class="py-16 bg-primaryC-yellow text-primaryC-black sm:w-10/12 m-auto"
>
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold mb-8 text-center">Our Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        services.map((service) => (
          <div class="bg-primaryC-black text-primaryC-yellow p-6 rounded-lg shadow-lg">
            <h3 class="text-2xl font-semibold mb-4">{service.title}</h3>
            <p>{service.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
