---
import getData from "@services/useService";

const data = await getData();
console.log(data);
const title: string = "Astro Starter Kit";
---

<div id="container">
  <main class=" w-full flex flex-col items-center justify-center">
    <h1>
      <span class="greeting">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        ></svg>
      </span>
      <span class="text-4xl font-bold tracking-tight text-gray-900">
        {title}
      </span>
    </h1>
  </main>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  main {
    padding: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .greeting {
    font-size: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }
</style>
