---
import ServiceArea from "../astro/ServiceArea.astro";
import { getContentJsonLang } from "@/services/langJson";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const { items } = getContentJsonLang("serviceAreas", lang);
---

<div class="w-full py-16 px-4 lg:w-10/12 m-auto bg-primaryC-black">
  <div class="mx-auto max-w-6xl">
    <h2 class="mb-12 text-center text-3xl font-bold text-primaryC-yellow">
      {lang === "es" ? "Áreas de Especialización" : "Service Areas"}
    </h2>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
      {items.map((service) => <ServiceArea {...service} />)}
    </div>
  </div>
</div>
