---

---

<section class="bg-neutralC-white py-16 px-8 w-10/12 m-auto">
  <div class="container mx-auto text-center">
    <h2 class="text-primaryC-black text-3xl md:text-4xl font-bold mb-6">
      NUESTRO COMPROMISO CON LA EXCELENCIA
    </h2>
    <p class="text-secondaryC-gray text-lg md:text-xl leading-relaxed mb-8">
      NOS PERMITE OFRECER SOLUCIONES TÉCNICAS DE VANGUARDIA QUE SATISFACEN LAS
      NECESIDADES DE NUESTROS CLIENTES.
    </p>
    <p class="text-primaryC-black text-lg md:text-xl leading-relaxed">
      DESDE DISEÑO Y PLANIFICACIÓN HASTA IMPLEMENTACIÓN Y GESTIÓN, TRABAJAMOS EN
      ESTRECHA COLABORACIÓN CON NUESTROS CLIENTES PARA CONVERTIR SUS IDEAS EN
      REALIDADES EXITOSAS.
    </p>
    <div class="mt-12">
      <a
        href="#"
        class="bg-primaryC-yellow text-primaryC-black font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-secondaryC-orange transition-colors"
      >
        Contáctanos
      </a>
    </div>
  </div>
</section>
