---

---

<section
  class="bg-neutralC-white py-8 px-6 mt-20 mb-20 md:w-11/12 lg:w-9/12 w-full m-auto rounded-lg shadow-lg"
>
  <div class="md:container w-11/12 mx-auto text-center">
    <h2
      class="text-primaryC-yellow text-3xl md:text-4xl font-extrabold tracking-wide mb-6"
    >
      Nuestro Compromiso con la Excelencia
    </h2>
    <p
      class="text-secondaryC-gray text-lg md:text-xl leading-relaxed mb-8 font-light"
    >
      Hagamos posibles sus objetivos mediante innovación colaborativa. Las
      grandes ideas no pueden traerse al mundo real sin la energía colectiva y
      el conocimiento de un gran equipo.
    </p>
    <p
      class="text-primaryC-black text-lg md:text-xl leading-relaxed uppercase font-medium"
    >
      En el fondo, la ingeniería consiste en utilizar la ciencia para encontrar
      soluciones prácticas y creativas. Es una profesión noble.
    </p>
  </div>
</section>
