---
import { getContentJsonLang } from "@/services/langJson";
interface Props {
  lang: string;
}

const { lang } = Astro.props;
const data = getContentJsonLang("missionandVision", lang);
---

<section
  class="bg-neutralC-black py-8 px-6 lg:mt-14 mt-8 lg:mb-14 mb-8 md:w-11/12 lg:w-9/12 w-full m-auto rounded-lg shadow-lg"
>
  <div class="md:container w-11/12 mx-auto text-center">
    <h2
      class="text-primaryC-yellow text-3xl md:text-4xl font-extrabold tracking-wide mb-6"
    >
      {data.title}
    </h2>
    <p
      class="text-secondaryC-gray text-lg md:text-xl leading-relaxed mb-8 font-light"
    >
      {data.content[0]}
    </p>
    <p
      class="text-secondaryC-orange text-lg md:text-xl leading-relaxed uppercase font-medium"
    >
      {data.content[1]}
    </p>
  </div>
</section>
