---
import { getContentJsonLang } from "@/services/langJson";
interface Props {
  lang: string;
}

const { lang } = Astro.props;
const data = getContentJsonLang("programas", lang);
---

<section class="lg:py-10 py-5 text-white">
  <div class="container mx-auto max-w-4xl px-4">
    <div class="text-center">
      <h2 class="text-4xl font-bold mb-6 relative inline-block text-[#FFD966]">
        {data.title}
        <span class="absolute -bottom-2 left-0 w-full h-1 bg-[#FFA500] rounded"
        ></span>
      </h2>

      <div class="space-y-4 max-w-xl mx-auto mb-8">
        {
          data.content.map((item) => (
            <p class="text-lg font-medium leading-relaxed text-[#E0E0E0]">
              {item}
            </p>
          ))
        }
      </div>

      <div class="flex justify-center">
        <img
          src="./logo_jovenes.avif"
          alt="Jóvenes Construyendo el Futuro"
          class="max-w-xs w-full h-auto rounded-lg shadow-lg border-2 border-[#FFA500]/20"
        />
      </div>
    </div>
  </div>
</section>
