---
import { getContentJsonLang } from "@/services/langJson";
import ServiceCard from "../astro/ServiceCard.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props;

const { items } = getContentJsonLang("services", lang);
---

<div class="w-full py-12 px-4">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {items.map((service) => <ServiceCard {...service} />)}
    </div>
  </div>
</div>
